<h1>
    Add Customer
</h1>
<form [formGroup]="customerForm">
    <div class="form-group" [ngClass]="(customerForm.get('firstName').errors)?'has-error':''">
        <label>First Name</label>
        <input type="text" formControlName="firstName" name="firstName" required class="form-control">
        <div *ngIf="customerForm.get('firstName').dirty">
            <span *ngIf="customerForm.get('firstName').errors.required">
                First name should not be empty
            </span>
            <span *ngIf="customerForm.get('firstName').errors.minlength">
                First name should not be less than 3 characters
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" name="lastName" required class="form-control">
        <div *ngIf="customerForm.get('lastName').dirty">
            <span *ngIf="customerForm.get('lastName').errors.required">
                Last name should not be empty
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" name="email" required class="form-control">
        <div *ngIf="customerForm.get('email').dirty">
            <span *ngIf="customerForm.get('email').errors.required">
                Email should not be empty
            </span>
        </div>
    </div>
    <div class="form-group">
        <label>Contact No</label>
        <input type="text" formControlName="contactNo" name="contactNo" required class="form-control">
        <div *ngIf="customerForm.get('contactNo').dirty">
            <span *ngIf="customerForm.get('contactNo').errors.required">
                Contact No should not be empty
            </span>
        </div>
    </div>
    <div class="form-inline">
        <label>Status</label>
        <input type="checkbox" name="status">
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>