<h1>
    Customers
</h1>
<div class="pull-right">
    <p>
        <a routerLink="/customers/add" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
</div>
<table class="table table-bordered table-hover">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerService.getAll()">
            <td>
                {{customer.id}}
            </td>
            <td>
                <!-- <a routerLink="/customers/detail/{{customer.id}}"> -->
                <a [routerLink]="['detail',customer.id]">
                    {{customer.firstName}} {{customer.lastName}}
                </a>
            </td>
            <td>
                {{customer.email}}
            </td>
            <td>
                {{customer.contactNo}}
            </td>
            <td>
                <label *ngIf="customer.status" class="label label-success">Active</label>
                <label *ngIf="!customer.status" class="label label-danger">Inactive</label>
            </td>
            <td>
                <a class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>